@model ChatRoomApp.Models.ViewModels.ChatRoomViewModel

@{
    ViewData["Title"] = "ChatRoom";
    string userLogIn = @Model.UserId;
    string userName = @Model.UserName;
}

<section class="msger">
    <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> User Name: @userName
            <input type="hidden" id="userIdLogin" value="@userLogIn" />
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
    </header>
    <main class="msger-chat">
        <div id="box-chat">
        @foreach (var item in Model.Messages)
        {
                <div class="@(item.UserId == userLogIn? "msg right-msg" : "msg left-msg")">
                    <div class="msg-bubble">
                        <div class="msg-info">
                            <div class="msg-info-name">@item.Sender.UserName</div>
                            <div class="msg-info-time">@item.CreatedDate</div>
                        </div>
                        <div class="msg-text">
                            @item.Content
                        </div>
                    </div>
                </div>
        }
        </div>
    </main>

    <form id="chatFrm" class="msger-inputarea">
        <input type="text" id="messageInput" name="Content" class="msger-input" placeholder="Enter your message...">
        <input type="hidden" id="userInput" name="UserId" value="@userLogIn" />
@*        <input type="hidden" name="ReceiverId" value="" />*@
        <button type="button" id="sendButton" class="msger-send-btn">Send Message</button>
    </form>
    <input type="hidden" id="userName"  name="UserName" value="@userName" />
</section>
<section class="bot-section">
    <p id="bot-message"></p>
</section>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
